<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <!-- show ONLY your code (DEBUG) -->
  <logger name="com.dvt" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <!-- silence libs -->
  <logger name="io.netty" level="OFF"/>
  <logger name="io.vertx" level="OFF"/>

  <!-- silence everything else -->
  <root level="OFF"/>
</configuration>
